.button {
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: rem(10) rem(20);
  border-radius: rem(10);

  &.primary {
    background-color: var(--color-primary);
    color: var(--color-light);
  }

  &.secondary {
    background-color: var(--color-secondary);
    color: var(--color-light);
  }

  &.tertiary {
    background-color: var(--color-tertiary);
    color: var(--color-light);
  }

  &.small {
    padding: rem(10) rem(20);
  }

  &.medium {
    padding: rem(15) rem(30);
  }

  &.large {
    padding: rem(20) rem(40);
  }

  &.fullWidth {
    width: 100%;
  }

  &.text {
    background-color: transparent;
    color: var(--color-primary);
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.loading {
    opacity: 0.5;
    cursor: progress;
  }

  &:has(svg) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(10);
  }

  @include hover {
    background-color: red;
    color: black;

    svg {
      color: currentcolor;
    }
  }

  &:active {
    scale: 0.9;
  }

  &:focus-visible {
    outline: rem(2) dotted var(--color-primary);
    outline-offset: rem(4);
    transition-duration: 0s !important;
  }
}
