.button {
  --button-padding: 1em 1.5em;
  --button-gap: 0.5em;
  --button-bg: #c3ce67;
  --button-color: var(--color-light);
  --button-hover-bg: var(--color-primary-dark);
  --button-hover-color: var(--color-light);
  --button-border-width: 1px;
  --button-border-style: solid;
  --button-border-color: var(--button-bg);
  --button-border-radius: 0.5em;
  --button-font-weight: 400;
  --button-font-size: rem(16);

  display: inline-flex;
  align-items: center;
  gap: var(--button-gap);
  padding: var(--button-padding);
  border-width: var(--button-border-width);
  border-style: var(--button-border-style);
  border-color: var(--button-border-color);
  border-radius: var(--button-border-radius);
  font-weight: var(--button-font-weight, 400);
  font-size: var(--button-font-size, rem(16));
  font-family: sans-serif;
  background-color: var(--button-bg);
  color: var(--button-color);

  & svg {
    fill: currentcolor;
    color: currentcolor;
    width: var(--icon-size, 1.5em);
    height: var(--icon-size, 1.5em);
    aspect-ratio: 1;
  }

  &:has([data-icon-size='small']) {
    svg {
      width: 1em;
    }
  }

  &:has([data-icon-size='medium']) {
    svg {
      width: 1.5em;
    }
  }

  &:has([data-icon-size='large']) {
    svg {
      width: 2em;
    }
  }

  @include hover {
    background-color: var(--button-hover-bg);
    color: var(--button-hover-color);
  }

  &:active {
    scale: 95%;
  }

  &.primary {
    --button-bg: var(--color-primary);
    --button-color: var(--color-light);
    --button-hover-bg: var(--color-primary-dark);
    --button-hover-color: var(--color-light);
  }

  &.secondary {
    --button-bg: var(--color-secondary);
    --button-color: var(--color-light);
    --button-hover-bg: var(--color-secondary-dark);
    --button-hover-color: var(--color-dark);
  }

  &.ghost {
    --button-bg: transparent;
    --button-color: var(--color-primary);
    --button-hover-bg: transparent;
    --button-hover-color: var(--color-primary);
  }

  &.small {
    --button-padding: #{rem(10)} #{rem(20)};
  }

  &.medium {
    --button-padding: #{rem(15)} #{rem(30)};
  }

  &.large {
    --button-padding: #{rem(20)} #{rem(40)};
  }

  &.fullWidth {
    width: 100%;
  }

  &.square {
    --button-border-radius: 0;
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
  }

  &.loading {
    opacity: 0.5;
    cursor: progress;
    pointer-events: none;
  }
}
